@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

body{
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #FFF;
	font-family: 'JetBrains Mono', monospace;
	background-image: url('../img/characters/banner.webp');
	background-size: cover;
    height: 100%;
    background-position: 55%;
}
.btn,button{
	color: #FFF;
	background: #000;
	border: 1px solid rgb(48, 52, 54);
	padding: 10px;
	text-decoration: none;
	margin: 5px;
	cursor: pointer;
}
.btn:hover{
	background-color: rgb(24, 26, 27);
}
.btnArea{
	text-align: center;
	padding: 20px;
	display: flex;
	justify-content: center;
}
a,
.highlight,
button{
	color: rgb(209, 106, 208);
}
#container{
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
}
.title{
	color: #fb4cec;
}
.content{
	width: 60%;
	margin: auto;
	padding: 10px 0px;
	background: #000;
	border: 2px solid #9d319c;
}
.main-title{
	display: flex;
	justify-content: center;
}
.desc-title{
	text-align: center;
}
.desc-text{
	text-align: center;
	width: 90%;
	margin: auto;
}
.question-area{
	padding: 30px;
}
.char-thumb{
	text-align: center;
	padding: 20px 0px;
}
.allCharArea{
	width: 90%;
	margin: auto;
	text-align: center;
}
.all-characters{
	display: flex;
	justify-content: center;
}
.characters{
	display: flex;
}
.all-characters .character span{
	font-weight: bold;
	padding: 0px 15px;
}
.all-characters .character div{
	margin-top: 10px;
}
.char-thumb img{
	height: 350px;
	transition-duration: 200ms;
}
.char-thumb img:hover{
	transition-duration: 200ms;
	transform: translateY(-0.5rem); 
}
.madger{
	animation: 5s infinite forwards madger-animation;
}
.singer{
	animation: 5s infinite forwards singer-animation;
}
.san{
	animation: 5s infinite forwards san-animation;
}
.aika{
    animation: 5s infinite forwards aika-animation;
}
.char-desc{
	text-align: center;
	width: 90%;
	margin: auto;
	padding-bottom: 20px;
}
.fillScreen{
	opacity: 0;
  	position: fixed;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
}
.fillScreen img {
	width: 100%;
}
footer{
	background: #000;
	display: flex;
	justify-content: center;
	padding: 20px;
	margin-top: 200px;
}
@media(max-width: 768px) {
	.content{
		width: 95%;
	}
}
@media(max-width: 555px) {
	.fillScreen img{
		height: 100vh;
	}
}
@media(max-width: 440px) {
	.char-thumb img{
		height: 280px;
	}
}
@media(max-width: 425px) {
	.char-thumb img{
		height: 250px;
	}
}
@media(max-width: 375px) {
	.btnArea {
		flex-direction: column;
	}
	h3 .highlight {
		font-size: initial;
	}
	.characters{
		flex-direction: column;
	}
	.all-characters .character span {
	    font-weight: bold;
	    padding: 10px 10px;
	    display: flex;
	    text-align: center;
	    justify-content: center;
	}
	.all-characters .character div {
	    margin-top: 0px;
	}
}
@media(max-width: 370px) {
	.fillScreen img{
		height: 150vh;
	}
}
@media(max-width: 325px) {
	.fillScreen img{
		height: 150vh;
	}
}
@keyframes madger-animation {
	50% { filter: drop-shadow(2px 8px 20px rgb(0, 128, 0)); }
}
@keyframes singer-animation {
	50% { filter: drop-shadow(2px 8px 20px rgb(159, 209, 226)); }
}
@keyframes san-animation {
	50% { filter: drop-shadow(2px 8px 20px rgb(255, 165, 0)); }
}
@keyframes aika-animation {
	50% { filter: drop-shadow(2px 8px 20px rgb(255, 0, 140)); }
}